%div.jumbotron
  %h1 Jaki fryzjer?
  %p Znajdź najlepszego fryzjera w Twoim mieście.

  %ul
    %li Poszukujsze naprawdę dobrego fryzjera w Twoim mieście?
    %li Szukasz fryzjera który ma na tyle talentu aby wymyślić Ci zgrabną fryzurkę dopasowaną do twarzy, figury i jakości Twoich włosów?
    %li Zależy Ci na takim ścięciu i uczesaniu, abt fryzura nie padała po 15 minutach od wyjścia od fryzjera.

  %p U nas znajdziesz najlepszego fryzjera!