.header{
  background: url(asset_path('bg.png')) 0 0 repeat;


  .container{
    position: relative;
    height: 120px;
  }

  .brand{
    background: url(asset_path('logo-white.png')) 0 50% no-repeat;
    width: 188px;
    height: 81px;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    top: 20px;
  }

  .nav{
    position: absolute;
    right: 0;
    bottom: 0;

    a{
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;

      &:hover{
        color: #333;
        background: #fff;
      }
    }
  }
}

.jumbotron{
  margin-top: 30px;
}

address{
  span{
    display: block;
  }
}

.image{
  max-height: 160px;
  display: inline-block;
  overflow: hidden;

  img{
    width: 100%;
  }
}

.page-container{
  min-height: 520px;

  > .alert{
    margin-top: 20px;
  }
}

.footer{
  min-height: 100px;
  margin-top: 50px;
  padding-top: 10px;
  background: url(asset_path('gray.png'));
  border-top: 1px dotted #eee;
}