%header.header
  %div.container
    =link_to "JakiFryzjer", root_path, class: "brand"

    %ul.nav.navbar-nav
      %li= link_to "Strona Główna", root_path
      %li= link_to "Dodaj miejsce", "#"
      %li= link_to "Kontakt", "#"
